[submodule "Blade_damage"]
	path = Blade_damage
	url = https://github.com/joigalcar3/Blade_damage.git
[submodule "Blade_damage_validation"]
	path = Blade_damage_validation
	url = https://github.com/joigalcar3/Blade_damage_validation.git
[submodule "FDD"]
	path = FDD
	url = https://github.com/joigalcar3/FDD.git
[submodule "DataGatheringUE4"]
	path = DataGatheringUE4
	url = https://github.com/joigalcar3/DataGatheringUE4.git
